:root {
    --fit: fit-content;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    overflow: hidden;
    scrollbar-width: thin;
}
main {
    scrollbar-gutter: stable;
    overflow-y: auto;
    height: 80vh;
    background-color: antiquewhite;
}

header {
    height: 10vh;
    background-color: bisque;
}
footer {
    height: 10vh;
    background-color: bisque;
}

h1 {
    text-align: center;
}
p, label {
    font-family: sans-serif;
}
#alert-div {
    position: relative;
    height: 4vh;
    margin-top: 1vh;
    padding-top: 0.5vh;
    border-radius: 2rem;
    border: 0.2rem solid black;
    background-color: red;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    transition: opacity 1s cubic-bezier(1, 0.9, 0.3, 1);
}

form {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    overflow-x: auto;
    grid-auto-flow: column;
}
fieldset {
    width: fit-content(100%);
    margin-left: 1vw;
    height: 37vh;
}

#buttons-div {
    height: 10vh;
    width: 100vw;
}
.field-input {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: repeat(8, 0.4rem);
    grid-auto-flow: column;
    grid-gap: 1rem;
}
.field-input > *  {
    max-width: 20vw;
    min-width: 125px;
    height: 20px;
}

.txt-bulk {
    display: block;
    margin-block-start: 20px;: ;
    width: 20vw;
    height: 50px;
}
.field-bulk-input label {
    display: block;
    width: 20vw;
    height: fit-content;
}

button {
    cursor: pointer;
    margin-left: 0.1vw;
}

button:first-child {
    margin-left: 1vw;
}
#btn-continue {
    width: 20vw;
    min-width: fit-content;
    height: 5vh;
    min-height: fit-content;
    transform: translate(calc(-50% + 50vw));
}
#field-buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    padding-right: 0.5vw;
}
.btn-ingredient {
    margin-inline: 5px;
}
#btn-remove-all {
    margin-left: 1vw;
}

.hidden {
    opacity: 0;
}

/******************** INVENTORY PAGE ********************/

main.inventory {
    display: grid;
    padding-top: 5vh;
    padding-left: 5vw;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(2, calc((102% - 5vw) / 2));
    grid-auto-flow: row;
    overflow-y: auto;
}
p.inventory {
    text-align: left;
    font-size: 1.8rem;
    padding-left: 3px;
    width: 100%;
}
h1 {
    font-size: 2.8rem;
}

/* Ingredients and dates */

#scrollContainer {
    grid-area: 1 / 1 / span 1 / span 2;
    height: max-content;
}
#ingredientDisplay {
    position: relative;
    float: left;
    width: calc(50%);
    border-top: 1px solid black;
}
#dateDisplay {
    position: relative;
    width: calc(50%);
    border-top: 1px solid black;
}
div.inventory {
    position: relative;
    width: clamp(var(--fit), 80%, 100%);
    height: fit-content;
    padding-top: 16px;
    border-bottom: 1px solid black;
}
#ingredientDisplay div {
    border-left: 1px solid black;
    min-width: max-content;
}
#dateDisplay div {
    border-inline: 1px solid black;
}

/* Recipes */
#recipeDisplay {
    grid-area: auto / span 1 / span 2;
    height: fit-content;
    margin-top: 8vh;
}


/******************** MEDIA QUERIES ********************/
/************* design for mobile first! ;) *************/

@media only screen and (min-width: 850px) {
    main.inventory{
        grid-template-rows: auto;
        grid-template-columns: repeat(2, calc((50% - 2.5vw) / 2)) calc(50% - 2.5vw);
        overflow-y: hidden;
    }
    p.inventory{
        font-size: 1.3rem;
    }
    h1 {
        font-size: 3rem;
    }
    #recipeDisplay {
        grid-area: 1 / 3;
        overflow-y: auto;
        margin-top: 0;
    }
    #scrollContainer {
        height: 100%;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 1200px) {
    form {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        overflow-x: auto;
        grid-auto-flow: row;
    }

    fieldset {
        width: 48.5vw;
        margin-left: 1vw;
        height: 37vh;
    }

}

@media only screen and (min-width: 1600px) {
    main.inventory{
        grid-template-rows: auto;
        grid-template-columns: repeat(4, calc((50% - 2.5vw) / 4))  calc(50% - 2.5vw);
    }
    p.inventory{
        font-size: 1.2rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    #recipeDisplay {
        grid-area: 1 / 5;
    }
}