:root {
    --fit: fit-content;
    --input-width: 130px;
    --input-height: 30px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: black #52505f;
    color: #333333;
    border-color: darkgray;
}
main {
    scrollbar-gutter: auto;
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100vh - 220px);
    background-color: rgba(205, 205, 206, 0.9);
}
header, footer {
    border: 4px darkcyan ridge;
    height: 110px;
    background-color: rgba(128, 128, 128, 0.85);
}
p, label, h1 {
    font-family: "PT Sans", sans-serif;
}
h1 {
    text-align: center;
}

fieldset {
    background-color: #F5F5F5;
}
fieldset:first-of-type, fieldset:nth-of-type(2) {
    padding-block: 8px;
    padding-inline: 12px;
}

#alert-div {
    position: relative;
    height: fit-content;
    max-height: 5vh;
    margin-inline: 0.5vw;
    margin-top: 0.25vh;
    padding-block: 0.3vh;
    padding-inline: 1vw;
    border-radius: 2rem;
    border: 0.2rem solid black;
    background-color: red;
    color: antiquewhite;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    transition: opacity 1s cubic-bezier(1, 0.9, 0.3, 1);
    overflow-y: auto;
}

form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: column;
    width: fit-content;
}
fieldset {
    width: fit-content(100%);
    margin-left: 1vw;
    height: 37vh;
}

#buttons-div {
    height: 10vh;
    width: 100vw;
}
.field-input {
    display: grid;
    position: relative;
    margin-top: 10px;
    min-height: 300px;
    grid-template-columns: repeat(4, var(--input-width));
    grid-template-rows: repeat(8, 1.2rem);
    grid-auto-flow: column;
    grid-gap: 1rem 10px;
}
#field-date {
    margin-top: 30px
}
.label-container {
    height: fit-content;
    position: relative;
    grid-area: span 1 /span 8;
}
.field-input label  {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: fit-content;
    border: 1px solid #333333;
    border-radius: 25px;
}
.single-input {
    width: var(--input-width);
    height: var(--input-height);
    border-radius: 15px;
    text-align: center;
}
input[type="text"], input[type="date"] {
    font-family: monospace;
}
.single-input:nth-of-type(2n + 1) {
    background-color: darkgray;
    border-color: white;
}

#field-bulk {
    display: grid;
    height: 90%;
    grid-template: [row1] 100% / [col1] 50% [col2] 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.txt-bulk {
    display: block;
    width: 47.5vw;
    height: 20vh;
    min-height: 200px;
    margin-top: 40px;
    overflow: auto;
    resize: none;
}

#field-bulk label {
    margin-top: 10px;
    text-align: center;
    border: 1px solid #333333;
    height: fit-content;
    width: 47.5vw;
}
#field-bulk label:first-of-type, #txt-bulk-ingredient {
    grid-area: row1 / col1;
    margin-left: 1vw;
}
#field-bulk label:last-of-type, #txt-bulk-date {
    grid-area: row1 / col2;
    margin-left: 0.5vw;
}

button {
    color: #333333;
    border-color: white;
    background-color: #FFD700;
    margin-block: 2px;
    margin-top: 10px;
    padding-block: 4px;
    cursor: pointer;
    margin-left: 0.1vw;
    font-size: 0.9rem;
    margin-inline: 3px
}
button:first-child {
    margin-left: 1vw;
}
#btn-continue {
    width: 20vw;
    min-width: fit-content;
    height: 5vh;
    min-height: 35px;
    transform: translate(calc(-50% + 50vw));
}
#field-buttons {
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    padding-right: 0.5vw;
}
#btn-remove-all {
    margin-left: 1vw;
}

.hidden {
    opacity: 0;
}


/********************************************************/
/******************** INVENTORY PAGE ********************/
/********************************************************/

main.inventory {
    display: grid;
    padding-left: 1.5vw;
    grid-template-rows: auto auto auto;
    background-color: rgba(205, 205, 206, 0.9);
    grid-template-columns: repeat(2, calc((102% - 1.5vw) / 2));
    grid-auto-flow: row;
    overflow-y: auto;
}
p.inventory {
    text-align: left;
    font-size: 1.8rem;
    padding-left: 3px;
    width: 100%;
}
h1 {
    font-size: 2.8rem;
}

/* Ingredients and dates */

#scroll-container {
    grid-area: 1 / 1 / span 1 / span 2;
    display: grid;
    grid-template-rows: fit-content(100%) fit-content(100%);
    grid-template-columns: repeat(8, calc(100% / 8));
    height: fit-content;
    padding-block: 30px;
    padding-inline: 20px;
    background-color: #F5F5F5;
}
#ingredient-display {
    position: relative;
    border-top: 1px solid black;
    border-left: 1px solid black;
    grid-area: 1 / 1 / span 1 / span 4;
}
#date-display {
    position: relative;
    border-top: 1px solid black;
    border-inline: 1px solid black;
    grid-area: 1 / 5 / span 1 / span 4;
}
/* Recipes */
#recipe-display {
    grid-area: 2 / 1 / span 1 / span 8;
    padding-top: 2vh;
    padding-bottom: 8vh;
    padding-inline: 12px;
    background-color: rgba(205, 205, 206, 0.5);
    border: 5px ridge #FFD700;
    font-size: 1.5rem;
    text-align: center;
}
div.inventory {
    position: relative;
    width: clamp(var(--fit), 80%, 100%);
    height: fit-content;
    padding-top: 16px;
    border-bottom: 1px solid black;
}

/* table-esque styling */
aside > div:first-of-type > p {
    font-size: 1.8rem;
    margin-bottom: 3px;
}

.display-div:nth-of-type(2n+1) {
    background-color: rgba(205, 205, 206, 0.5);
}
aside > div:first-of-type {
    background-color: rgba(169, 169, 169, 0.84) !important;
}



/******************** MEDIA QUERIES ********************/
/************* designed foremost for mobile *************/

@media only screen and (min-width: 635px) {

}

@media only screen and (min-width: 768px) {
    main.inventory{
        padding-left: 3vw;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, calc((100% - 3vw) / 2));
    }
    #scroll-container {
        padding-inline: 40px;
    }
    p.inventory{
        font-size: 1.3rem;
    }
    h1 {
        font-size: 3rem;
    }
    #recipe-display {
        overflow-y: auto;
        margin-top: 0;
    }
}

@media only screen and (min-height: 1024px) {
    main {
        height: 80vh;
    }
    header, footer {
        height: 10vh;
    }
}

@media only screen and (min-width: 1200px) {
    form {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        overflow-x: auto;
        grid-auto-flow: row;
    }
    button {
        font-size: 1.1rem;
    }
    .field-input {
        margin-top: 10px !important;
    }
    fieldset {
        width: 48.5vw;
        margin-left: 1vw;
        height: 37vh;
    }
    #field-bulk {
        grid-area: 2 / 1;
        grid-column-start: -3;
        grid-column-end: -1;
        width: revert;
    }
    .label-container {
        grid-area: span 1 / span 4;
    }
}

@media only screen and (min-width: 1600px) {
    main.inventory{
        padding-left: 5vw;
        grid-template-rows: auto;
        grid-template-columns: repeat(8, calc((100% - 5vw) / 8));
    }
    p.inventory{
        font-size: 1.2rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    #scroll-container {
        grid-area: 1 / 1 / span 2 / span 8;
    }
    #ingredient-display {
        grid-area: 1 / 1 / span 2 / span 3;
    }
    #date-display {
        grid-area: 1 / 4 / span 2 / span 3;
    }
    #recipe-display {
        grid-area: 1 / 7 / span 2 / span 2;
    }

}